// ==========================================================================
// Color settings
// ==========================================================================

// Pallette
@red: #d44334;
@green: #4cb953;
@blue: #3498db;
@orange: #f39c12;
@yellow: #edb500;
@pink: #c7358a;

// Grays
@gray-xxdark: #2e343d;
@gray-xdark: #333b3f;
@gray-dark: #4f5b60;
@gray-medium: #5d6c73;
@gray-light: #6b7d86;
@gray-xlight: #8799a2;
@gray-xxlight: #b6c5cd;
@gray-xxxlight: #dbe3e8;
@off-white: #f7f8fa;

// Brand
@color-brand-primary: #7959c7;
@color-brand-secondary: #bc4166;

// UI
@color-ui-primary: @green;
@color-ui-secondary: @gray-light;

// Links
@color-link: @color-ui-primary;

// Text
@color-text: @gray-xdark;
@color-headings: @gray-xxdark;

// Media
@image-background: @gray-xxxlight;

// Components
@component-color: @gray-dark;
@component-hover-color: @gray-xxdark;
@component-hover-background: @off-white;
@component-active-color: #fff;
@component-active-background: @color-ui-primary;
