// ==========================================================================
// Help page
// ==========================================================================

&-help {
    aside {
        // border: 1px solid @gray-xxxlight;
        border-width: 1px 0 0;
    }

    @media screen and (min-width: 1280px) {
        .panel {
            display: flex;

            > * {
                flex: 1;
            }

            aside {
                max-width: 240px;
                border-width: 0 0 0 1px;

                .btn {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
