/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// `<PanelBody />`

.components-panel__body .components-spinner {
    float: none;
}

.components-panel__body .components-notice {
    margin: 0;
}

// Utils

.is-filter { margin-bottom: 8px !important; }

// Misc

.pager {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
